body {
    background-color: #319B72;
}


.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin-top: 30px;
}

.card-left {
    min-width: 500px;
}

.card-right {
    padding: 15px;
    min-width: 500px;
    text-align: justify;
}

img {
    padding: 5px;
    border: 5px solid  rgb(255, 68, 99);
    border-radius: 100%;
    margin: 5px;
    max-width: 180px; 
    float: left;
}

hr {
    background-color:  rgb(255, 68, 99);
    width: 250px;
    display: flex;
}

.card-text {
    padding-top: 15px;
    text-align: center;
}

i {
    padding-right: 5px;
    color: rgb(255, 68, 99);
}

footer {
    margin-top: 30px;
    background: black;
}

.title {
    color: rgb(255, 68, 99);
}